language: java
deploy:
  provider: heroku
  app:
    master: pure-meadow-43688
  on:
    tags: true
    branch: master
  api_key:
    secure: pPhTSknXGZ7B9JLUGDwTEU+6yAmw2fuj0h1YLEuHmBCAYPcZmq+F0+nlhl3N3DE1Ys0cs+N2OOb/hwSYgMNBvFAj0PFMlf9t8FPsAC0eLMMp5qsbEUJH+gblP6VO2DjZ0NXq4FVODhzVyCteJ3ryCrOCucaa6bu7r6xsxaipgdPj/PfKcdQ/V3hDzS9ubpS4whBywS223HZs52lPxt0PHpwILtd6STl3WLncExynjijN12JdbekkAUzORBYvs8xQ+CD0fPmUR1FUKRMbCDvLoryFWjomYrb0A822NAKbqM+NwMMlrm6Ki6ZNMXfIMheAfEP1e+oaZ5ThkyR6s3g+1oi8lA3m1eiYicFLVt2gFP5EOrgLS63fA+Oh0iXlYHXT3KfRNQAxt2B0lvbwfmF6B97Zt0xTOOKTVBycjhyQHmz8QGtZD0iuttOEO2uz43OWK69gSe/fzA2LMRH6gpOzGGrETzwj4xgJJmtl4fQ8wwS4WZJyxHQOELJP1i8vbhvybcUTXA0xHVWX60NWaCslQXQRxvxlt/A8Hv+JpuXTQZgGzbbPtUYWzQUBdWFNy3bVQYR1Zj5fBXO/1+8EEWOEXu3VcGTDitZpkR26hK5KaOFMpoK3VgRMvEG0aUhJBB0Ipe3GrOvhm1RgfWm1cIwkd4yhSBSn8N3+Ktg8m0hPxjU=
