.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex: 1 0 auto;
}
.game{
max-width: 600px;
margin: 0 auto;
}

.game__button{
display: block;
}

.footer {
    flex: 0 0 auto;
}