body {
    background: rgb(234, 234, 234);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content{
	flex: 1 0 auto;

}
.menu{
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(133, 153, 224);
}

.menu__content{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.game{
	max-width: 600px;
	margin: 100px auto auto;
	background: rgba(2, 150, 255, 0.48);
	padding: 50px;
}
.game__form{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game__button{
	display: block;
}

.footer {
	height: 60px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(133, 153, 224);
}

.footer__content{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}