<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/normalize.css" type="text/css"  th:href="@{/normalize.css}" />
    <link rel="stylesheet" href="../static/style.css" type="text/css"  th:href="@{/style.css}" />
    <title>Game</title>
</head>
<body>
<div class="wrapper">
    <div class="main-content">
        <div class="menu">
            <span class="menu__navigation"><a href="/">Home</a></span>
            <span class="menu__navigation">About</span>
            <span class="menu__navigation">Contacts</span>
        </div>
        <div class="game">
            <form action="/game" method="post">
                <div class="game__start-text">Start your awesome typing here</div>
                <input class="game__button" type="submit" value="Start game"></input>
            </form>
        </div>
    </div>
    <div class="footer">
        <span class="footer__copyright">
            &copy; by LEYLA!
        </span>
        <span class="footer__link">
            <a href="https://github.com/ryabina/">GitHub</a>
        </span>
    </div>
</div>
</body>
</html>