<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li>About</li>
        <li>Contacts</li>
    </ul>
</div>
<div>
    <form action="/game" method="post">
        <textarea name="game" rows="10" cols="30"></textarea>
        <input type="submit" value="Start game"></input>
    </form>
</div>
<div>
    <span>
        &copy; by LEYLA!
    </span>
    <span>
        <a href="https://github.com/ryabina/">GitHub</a>
    </span>
</div>
</body>
</html>